body{
  background-color: black;
  color: white;
  padding-right: 30px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
a:visited {
  color: yellow;
}
.def{
  border: 1px solid LightGoldenRodYellow;
  margin: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.pro{
  border: 3px solid palegoldenrod;
  margin: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.lem{
  border: 3px solid palegoldenrod;
  margin: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.thm{
  border: 5px solid gold;
  margin: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.cor{
  border: 3px solid goldenrod;
  margin: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.exa{
  border: 1px solid darkgoldenrod;
  margin: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.back{
  position: fixed;
  top: 5;
  right: 5;
}
